body {
  font-family: poppins;
}
.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.logout {
  color: #ff1919;
  cursor: pointer;
}
.sub_nav {
  /* border: 1px solid #1111113e; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.form,
.viewRequest {
  padding: 1rem;
  border: 1px solid #111;
  width: 12rem;
  cursor: pointer;
  border-radius: 10px;
}
.sub_nav p {
  margin: 0;
  text-align: center;
}

.hide {
  display: none;
}

.main_form {
  border: 1px solid #1111113e;
  padding: 1rem;
  display: flex;
  width: 60%;
}

.travelForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.main_form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
input,
button,
select {
  border: 1px solid #1111117a;
  background-color: #fff;
  padding: 0.6rem 1rem !important;
  border-radius: 10px;
}
button {
  cursor: pointer;
}
button:hover {
  background-color: #111;
  color: #fff;
}

label {
  font-size: 1rem;
}

#requestStatusContainer {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}
#requestStatusContainer a {
  text-decoration: none;
}

.displayHere {
  border: 1px solid #1111113e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0;
}
.displayHere p {
  margin: 0;
}
.displayp {
  display: flex;
  gap: 1rem;
}

.displayButton {
  display: flex;
  gap: 1rem;
}

.trTitle {
  margin-top: 2rem;
}
